body {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9f5eb;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
}

input,
textarea,
select {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
